

body {
  margin:0;
  padding:0;
  background:white;

}

.home{

background: url("../img/sushi-plate2.jpg")

}

.wrapper {

  display:block;
  margin:0 auto;
  width:100%;
  height:100%;

}

.navigation {
  position:fixed;
  display:block;
  height:100%;
  width:275px;
  background: black;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
}

.navTop {
  width:100%;
  overflow:hidden;
  font-family: 'Open Sans Condensed', sans-serif;
}

.navTop img {
  display:block;
  margin:0 auto;
  margin-left:-25px;
  margin-top:-20px;
}



.navMid h3 {
  margin:0;
  padding:10px 10px 2px 10px;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align:center;
}

.navMid p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size:.8em;
  margin:0;
  padding:8px 18px 15px 18px;
}

.navBottom {
  width:100%;
  height:100%;
  overflow:hidden;
}

.navBottom a {
  display:block;
  width:100%;
  padding:10px 0px 10px 10px;
  text-decoration:none;
  font-size:1.5em;
  font-family: 'Open Sans Condensed', sans-serif;
  color:white;
  transition:all .5s;
  -webkit-transition:all .5s;
}

.navBottom a:hover {
  background:darkgrey;
  color:red;
  
}

.ui.card>.content>.description, .ui.cards>.card>.content>.description {

color: red;
}

.contents {
  display:block;
  width:100%;
  padding-left: 275px;

}

.cTitle {
  width:auto;
  height:auto;

}

.cTitle h1 {
  margin:0;
  padding:10px 10px 10px 10px;
  font-family:'Bowlby One';
}

.cbanner {
  width:100%;
  height:160px;
 background:url('http://azalient.com/img/peopleInBuildings.jpg') no-repeat;
  background-size:100%;
  background-position:0px;
  overflow:hidden;
  border:1px solid lightgrey;
}

.sect {
  display:white;
  width:100%;
  margin:0 auto;
  overflow:hidden;
}

.sect h2 {

  width:100%;
  font-size:2.5em;

}

.sect .book {

background: url("../img/sushi-bg.jpg")

}

.agenda h2{
  
  width:100%;
  font-size:8.5em;
  color:white;
  font-family: 'Delius Swash Caps', cursive;
  margin:0px 0px 0px 0px;
  padding:10% 50px 50px 80px;

}

.agenda article{
  
  width:100%;
  background: black;
  opacity: .5;
    padding-left:90px;
    padding-right:90px;
    margin-top: 12px;
}

.agenda p{
  

  font-size:1.31em;
  color:white;


}

.sect:nth-child(2n) h2 {
  padding:0px 0px 0px 50px;
font-family: 'Permanent Marker', cursive;
}

.sect p {
  display:block;
  width:97%;
  margin-top:0px;
  padding:15px 10px 10px 10px;
  text-align:left;
  line-height:1.5em;
  color:white;
}

.agenda{

  background: url("../img/sushi-bg.jpg");
  background-size: 100% 706px;
  background-repeat: no-repeat;
  height: auto;

}


.map strong {
  font-size:1.2em;
  display:block;
  width:100%;
  padding:20px 0px 0px 25px;
}

.map em {
  display:block;
  width:100%;
  padding:0px 0px 15px 55px;
}

.map p {
  padding:0px 0px 10px 10px;
  margin:0;
}

.map {
  display:block;
  margin:0 auto;
}

.sect .map{

  background: white;
}


.menu{

background: white
}

.menu p{

background: white;
color:black;
}

h2{

padding:0px 0px 0px 50px;
font-family: 'Permanent Marker', cursive;
color:black;

}

.menu-legend{

float:left;
padding-left:50px;
padding-right:50px;


}



.menu-legend2 p{

text-align:left;

}


.description p {
  padding:0;
  margin:0;
  text-align:center;
  line-height:1.1em;
}

.description {
  width:100%;
  height:50%;
  overflow:hidden;
  background:whitesmoke;
  opacity:.8;
  margin-top:210px;
  transition:all .5s;
  -webkit-transition:all .5s;
}



.formLine {
  display:block;
  width:100%;
  margin:10px 0px 10px 10px;
}

.label {
  position:relative;
  display:block;
  width:100px;
}


/*Menu Items*/

.image-box-wrapper {
  width:100%;
  margin:50px auto;
  padding:50px;
  margin-top:50px;

}

.image-box {
  width:210px;
  height:160px;
  overflow:hidden;
  background-color:white;
  border:1px solid #ccc;
  float:left;
  margin:1px 1px;
  font:normal normal 12px/1.4 Segoe,"Segoe UI",Arial,Sans-Serif;
  color:#333;
}

.image-box {
  width:210px;
  height:160px;
  overflow:hidden;
  background-color:white;
  border:1px solid #ccc;
  float:left;
  margin:1px 1px;
  font:normal normal 12px/1.4 Segoe,"Segoe UI",Arial,Sans-Serif;
  color:#333;
}

.image-box {
  width:210px;
  height:160px;
  overflow:hidden;
  background-color:white;
  border:1px solid #ccc;
  float:left;
  margin:1px 1px;
  font:normal normal 12px/1.4 Segoe,"Segoe UI",Arial,Sans-Serif;
  color:#333;
}

.image-box {
  width:210px;
  height:160px;
  overflow:hidden;
  background-color:white;
  border:1px solid #ccc;
  float:left;
  margin:1px 1px;
  font:normal normal 12px/1.4 Segoe,"Segoe UI",Arial,Sans-Serif;
  color:#333;
}

.image-box {
  width:210px;
  height:160px;
  overflow:hidden;
  background-color:white;
  border:1px solid #ccc;
  float:left;
  margin:1px 1px;
  font:normal normal 12px/1.4 Segoe,"Segoe UI",Arial,Sans-Serif;
  color:#333;
}

.image-box {
  width:210px;
  height:160px;
  overflow:hidden;
  background-color:white;
  border:1px solid #ccc;
  float:left;
  margin:1px 1px;
  font:normal normal 12px/1.4 Segoe,"Segoe UI",Arial,Sans-Serif;
  color:#333;
}

.image-container .red{

border-right: 5px solid red;

}
.image-box .light-blue{

  border:1px solid blue;

}
.image-box .yellow{

  border:1px solid gold;

}
.image-box .green{

  border:1px solid green;

}


.image-container,
.image-details {
  height:150px;
  border:5px solid white;
  background-color:white;
  transition:margin-top .4s ease-out .4s;
}

.image-container img {
  width:200px;
  height:150px;
  padding:0 0;
  margin:0 0;
  border:none;
  outline:none;
  max-width:none;
  max-height:none;
  background-color:black;
}

.image-details h4,
.image-details p {
  margin:0 0 .2em;
  padding:5px 0;
  height:70px;
}

.image-details h4 {
  font-size:120%;
  height:auto;
  color:white;
 
}

.image-box-wrapper .red h4 {
  font-size:120%;
  height:auto;
  color:white;
  background: red;
 
}

.image-box-wrapper .yellow h4 {
  font-size:120%;
  height:auto;
  color:white;
  background: gold;
 
}

.image-box-wrapper .green h4 {
  font-size:120%;
  height:auto;
  color:white;
  background: green;
 
}

.image-box-wrapper .light-blue h4 {
  font-size:120%;
  height:auto;
  color:white;
  background: lightblue;
 
}

.image-details .details {
  padding:10px 12px;
  overflow:hidden;

}



.image-box:hover {border-color:#bbb}
.image-box:hover .image-container {margin-top:-160px}
.image-details .more:hover {background-color:black}



table {

border-color: white;
}

.button a{

color:red;

}

.button a:hover{

background: none;

}

.ui.table{

margin: 0em 0.9em -1px;
color:red;

}

.ui.cards {
margin: 1em 0.5em -1px;
}


/*Contact Form*/

form {
    margin-left:auto;
    margin-right:auto;
    width: 343px;
    height: 333px;
    padding:30px;
    border: 1px solid rgba(0,0,0,.2);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: rgba(0, 0, 0, 0.5); 
    -moz-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    overflow: hidden; 
}

textarea{
    background: rgba(255, 255, 255, 0.4) url(http://luismruiz.com/img/gemicon_message.png) no-repeat scroll 16px 16px; 
    width: 276px;
    height: 110px;
    border: 1px solid rgba(255,255,255,.6);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; 
    display:block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:18px;
    color:#fff;
    padding-left:45px;
    padding-right:20px;
    padding-top:12px;
    margin-bottom:20px;
    overflow:hidden;
}

input {
    width: 276px;
    height: 48px;
    border: 1px solid rgba(255,255,255,.4);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; 
    display:block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:18px;
    color:#fff;
    padding-left:20px;
    padding-right:20px;
    margin-bottom:20px;
}

input[type=submit] {
    cursor:pointer;
}

input.name {
    background: rgba(255, 255, 255, 0.4) url(http://luismruiz.com/img/gemicon_name.png) no-repeat scroll 16px 16px; 
    padding-left:45px;
}

input.email {
    background: rgba(255, 255, 255, 0.4) url(http://luismruiz.com/img/gemicon_email.png) no-repeat scroll 16px 20px;
    padding-left:45px;
}

input.message {
    background: rgba(255, 255, 255, 0.4) url(http://luismruiz.com/img/gemicon_message.png) no-repeat scroll 16px 16px;
    padding-left:45px;
}

::-webkit-input-placeholder {
    color: #fff;
}

:-moz-placeholder{ 
    color: #fff; 
}

::-moz-placeholder {
    color: #fff;
}

:-ms-input-placeholder {  
    color: #fff; 
}

input:focus, textarea:focus { 
    background-color: rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    -webkit-box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    overflow: hidden; 
}

.btn {
    width: 138px;
    height: 44px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    float:right;
    border: 1px solid #253737;
    background: red;
    background: -webkit-gradient(linear, left top, left bottom, from(red), to(#416b68));
    background: -webkit-linear-gradient(top, red, crimson);
    background: -moz-linear-gradient(top, red, crimson);
    background: -ms-linear-gradient(top, red, crimson);
    background: -o-linear-gradient(top, red, crimson);
    background-image: -ms-linear-gradient(top, red 0%, crimson 100%);
    padding: 10.5px 21px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    text-shadow: #333333 0 1px 0;
    color: #e1e1e1;
}

.btn:hover {
    border: 1px solid #253737;
    text-shadow: #333333 0 1px 0;
    background: #416b68;
    background: -webkit-gradient(linear, left top, left bottom, from(#77b2b0), to(#416b68));
    background: -webkit-linear-gradient(top, #77b2b0, #416b68);
    background: -moz-linear-gradient(top, #77b2b0, #416b68);
    background: -ms-linear-gradient(top, #77b2b0, #416b68);
    background: -o-linear-gradient(top, #77b2b0, #416b68);
    background-image: -ms-linear-gradient(top, #77b2b0 0%, #416b68 100%);
    color: #fff;
 }

.btn:active {
    margin-top:1px;
    text-shadow: #333333 0 -1px 0;
    border: 1px solid #253737;
    background: #6da5a3;
    background: -webkit-gradient(linear, left top, left bottom, from(#416b68), to(#416b68));
    background: -webkit-linear-gradient(top, #416b68, #609391);
    background: -moz-linear-gradient(top, #416b68, #6da5a3);
    background: -ms-linear-gradient(top, #416b68, #6da5a3);
    background: -o-linear-gradient(top, #416b68, #6da5a3);
    background-image: -ms-linear-gradient(top, #416b68 0%, #6da5a3 100%);
    color: #fff;
    -webkit-box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
   }


  .menu-legend img{

width:200px;


  }

/*MEDIA QUERIES*/

/*Desktop*/

@media screen and (max-width: 1060px){

	.agenda p{

		font-size:1em;

	}

}

@media screen and (max-width: 1050px){

  .agenda h2{

    font-size:7em;

  }

  .menu-legend img{



  }

}

@media screen and (max-width: 940px){

  .agenda h2{

    font-size:6em;

  }

}

@media screen and (max-width: 865px){

  .agenda h2{

    font-size:5em;

  }

}

@media screen and (max-width: 760px){

  .agenda h2{

    font-size:3em;

  }

  .agenda p{

    font-size:.7em;

  }

}

@media screen and (max-width: 600px){

    .navigation{




    }

  

}




.red{

  width:210px;
  height:160px;
  overflow:hidden;
  background-color:white;

  float:left;
  margin:1px 1px;
  font:normal normal 12px/1.4 Segoe,"Segoe UI",Arial,Sans-Serif;

}