

body {
  margin:0;
  padding:0;
  background:#222222;
}

.home{

background: url("../img/sushi-plate2.jpg")

}

.wrapper {

  display:block;
  margin:0 auto;
  width:100%;
  height:100%;

}

.navigation {
  position:fixed;
  display:block;
  height:100%;
  width:275px;
  background: #222222;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
}

.navTop {
  width:100%;
  overflow:hidden;
  font-family: 'Open Sans Condensed', sans-serif;
}

.navTop img {
  display:block;
  margin:0 auto;
  margin-left:-25px;
  margin-top:-20px;
}



.navMid h3 {
  margin:0;
  padding:10px 10px 2px 10px;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align:center;
}

.navMid p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size:.8em;
  margin:0;
  padding:8px 18px 15px 18px;
}

.navBottom {
  width:100%;
  height:100%;
  overflow:hidden;
}

.navBottom a {
  display:block;
  width:100%;
  padding:10px 0px 10px 10px;
  text-decoration:none;
  font-size:1.5em;
  font-family: 'Open Sans Condensed', sans-serif;
  color:white;
  transition:all .5s;
  -webkit-transition:all .5s;
}

.navBottom a:hover {
  background:darkgrey;
  color:red;
  
}

.contents {
  display:block;
  width:100%;
  padding-left: 275px;

}

.cTitle {
  width:auto;
  height:auto;

}

.cTitle h1 {
  margin:0;
  padding:10px 10px 10px 10px;
  font-family:'Bowlby One';
}

.cbanner {
  width:100%;
  height:160px;
 background:url('http://azalient.com/img/peopleInBuildings.jpg') no-repeat;
  background-size:100%;
  background-position:0px;
  overflow:hidden;
  border:1px solid lightgrey;
}

.sect {
  display:white;
  width:100%;
  margin:0 auto;
  overflow:hidden;
}

.sect h2 {

  width:100%;

  font-size:2.5em;

}

.agenda h2{
  
  width:100%;
  font-size:8.5em;
  color:white;
  font-family: 'Delius Swash Caps', cursive;
  margin:0px 0px 0px 0px;
  padding:10% 50px 50px 80px;

}

.agenda article{
  
  width:100%;
  background: black;
  opacity: .5;
    padding-left:90px;
    padding-right:90px;
    margin-top: 12px;
}

.agenda p{
  

  font-size:1.31em;
  color:white;


}

.sect:nth-child(2n) h2 {
  padding:0px 0px 0px 50px;
font-family: 'Permanent Marker', cursive;
}

.sect p {
  display:block;
  width:97%;
  margin-top:0px;
  padding:15px 10px 10px 10px;
  text-align:left;
  text-indent:25px;
  line-height:1.5em;
  color:white;
}

.agenda{

  background: url("../img/sushi-bg.jpg");
  background-size: 100% 706px;
  background-repeat: no-repeat;
  height: auto;

}


.map strong {
  font-size:1.2em;
  display:block;
  width:100%;
  padding:20px 0px 0px 25px;
}

.map em {
  display:block;
  width:100%;
  padding:0px 0px 15px 55px;
}

.map p {
  padding:0px 0px 10px 10px;
  margin:0;
}

.map {
  display:block;
  margin:0 auto;
}


.menu{

background: white
}

.menu p{

background: white;
color:black;
}

.menu h2{



}

.menu-legend{

float:left;
padding-left:50px;
padding-right:50px;
padding-top:40px;

}


.description p {
  padding:0;
  margin:0;
  text-align:center;
  line-height:1.1em;
}

.description {
  width:100%;
  height:50%;
  overflow:hidden;
  background:whitesmoke;
  opacity:.8;
  margin-top:210px;
  transition:all .5s;
  -webkit-transition:all .5s;
}



.formLine {
  display:block;
  width:100%;
  margin:10px 0px 10px 10px;
}

.label {
  position:relative;
  display:block;
  width:100px;
}


/*Menu Items*/

.image-box-wrapper {
  width:100%;
  margin:50px auto;
  padding:50px;
  margin-top:-40px;
}

.image-box {
  width:210px;
  height:160px;
  overflow:hidden;
  background-color:white;
  border:1px solid #ccc;
  float:left;
  margin:1px 1px;
  font:normal normal 12px/1.4 Segoe,"Segoe UI",Arial,Sans-Serif;
  color:#333;
}

.image-container,
.image-details {
  height:150px;
  border:5px solid white;
  background-color:#ffc;
  transition:margin-top .4s ease-out .4s;
}

.image-container img {
  width:200px;
  height:150px;
  padding:0 0;
  margin:0 0;
  border:none;
  outline:none;
  max-width:none;
  max-height:none;
  background-color:black;
}

.image-details h4,
.image-details p {
  margin:0 0 .2em;
  padding:0 0;
  height:70px;
}

.image-details h4 {
  font-size:120%;
  height:auto;
}

.image-details .details {
  padding:10px 12px;
  overflow:hidden;
}

.image-details .more {
  color:white;
  text-decoration:none;
  display:block;
  text-align:center;
  font-weight:bold;
  background-color:#f9a;
  height:26px;
  line-height:26px;
  margin:10px 0 0;
}

.image-box:hover {border-color:#bbb}
.image-box:hover .image-container {margin-top:-160px}
.image-details .more:hover {background-color:black}






/*MEDIA QUERIES*/

/*Desktop*/

@media screen and (max-width: 992px){

	body{

		background: red;

	}

}


/*Tablet*/

@media screen and (max-width: 768px){

	body{

		background: yellow;

	}

}


/*Mobile*/

@media screen and (max-width: 480px){

	body{

		background: teal;

	}

}



